body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #e5e5e3;
}
header {
    display: flex;
    justify-content: space-between;
    font-size: 2.5rem;
    color: lch(96.51% 0.5 109.99);
    text-align: left;
    padding: 20px;
    font-size: 55px;
    font-family: Arial, sans-serif;
    

}
header h1 {
    margin: 2px;
    font-family :  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 4.5rem;
    font-weight: bold;
    color:rgb(7,7,47)}
.header-image {
    width: 250px;
    height: 250px;
    max-width: 100%;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #d4a1cc;
    
}
.about {
    margin: 15px;
    padding: 30px;
    border-radius: 12px;
    font-size: medium;
    max-width: 800px;
    line-height:1.8;


}
.about h2{
    text-align: left;
    margin: 20px;
    color: #bdd6dd;
    margin-bottom:0px;
    font-size: 2rem;
    font-style: italic;
    
}


.projects {
    border-left: 4px solid #ceebc4;
    padding-left: 10px;
    margin-left: 20px;
    margin-bottom: 15px;
}
.projects h2{

    text-align: left;
    margin-left: 25px;
    color:#bbc3df;
    margin-bottom:5px;
    font-size: 2rem;

}
.projects h3{ 

    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.5rem;
    color:#333
    
}

.skills{

    
    margin: 35px;
    padding: 30px;
    border-radius: 12px;
    font-size: medium;
    max-width: 800px;
    line-height:1.8;

}
.skills h2{margin: 25px;
    color:#020718;
    margin-bottom:5px;
    font-size: 2rem;

}
.project-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.project-link:hover {
  background-color: #1e40af;
}
.project-image {
  width: 150px;
  height: 180px;   
  overflow: hidden;
  border-radius: 8px;
}

.project-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer {
    background-color: #0e0e0e;
    color: white;
    text-align: center;
    padding: 10px;
}
